.ot-container {
	--main-container: 1370px;
	margin-right: 0;
	margin-left: auto;
}
@media (min-width: 576px) {
	.ot-container {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
	.ot-container {
        max-width: 746px;
    }
}
@media (min-width: 992px) {
	.ot-container {
        max-width: 990px;
    }
}
@media (min-width: 1200px) {
	.ot-container {
        max-width: 1180px;
    }
}
@media only screen and (min-width: 1441px) {
    .ot-container {
		--main-container: 1370px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (min-width: 1300px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: calc(var(--main-container) + var(--container-gutters));
        padding-left: calc(var(--container-gutters) / 2);
        padding-right: calc(var(--container-gutters) / 2);
    }
}