.ot-hero-wrapper {
    position: relative;
    z-index: 3;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.ot-hero-slide {
    position: relative;
    z-index: 3;
    width: 100%;
}
.hero-content {
    padding: 105px 0;
    position: relative;
    z-index: 5;
}

@include sm {
    .hero-content {
        padding: 70px 0;
    }
    .ot-hero-wrapper {
        background-position: right 30% center;
        &:before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(259.93deg, #FFFFFF 33.16%, rgba(255, 255, 255, 0) 65.81%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }
}


